@import "bourbon";
@import "font-awesome";

body {
  background: #e2ebf3;

  #container{
    position: relative; 

    canvas {
    border: 1px solid black;
    margin-left: 50px;
    margin-top: 30px;
    position: absolute; 
    // background: url("https://media3.giphy.com/media/unRa3ffljnuec/200.gif");


    }

    .overlay {
      background: white;
      margin-left: 50px;
      display: inline-block;
      margin-top: 30px;
      width: 500px;
      height: 500px;


      .column1 {
      float: left;
      width: 50%;
      height: 100%;

      }

      .column2 {
        float: right;
        width: 50%;
        height: 100%;
        
      }

    }
    
  }
}

